smolagents
PyQt6
python-dotenv
huggingface-hub
pyyaml
requests
tqdm
gradio
gradio-client
torch
pillow
transformers
accelerate
chromadb
sentence-transformers
helium
langchain
langchain-chroma
pyinstaller
peft
datasets
bitsandbytes
selenium
webdriver-manager