smolagents
PyQt6
python-dotenv
huggingface-hub
pyyaml
requests
tqdm
gradio
gradio-client
torch
pillow
transformers
accelerate
chromadb
sentence-transformers
helium
selenium
langchain
langchain-chroma
pyinstaller